{% if url != blank and text != blank %}
  <a href="{{ url }}" class="contact-btn">
    {% if svg != blank %}
      <div class="icon-box">
        {{ svg }}
      </div>
    {% endif %}

    {{ text }}
    <div class="icon-box--arrow">
      {% render 'icon-arrow-r' %}
    </div>
  </a>
{% endif %}
