<div class="product-how-it-works__header">
  {% if title != blank %}
    <h2 class="how-it-works-pdp__title">{{ title }}</h2>
  {% endif %}
  {% if text != blank %}
    <p class="how-it-works-pdp__text">{{ text }}</p>
  {% endif %}
</div>
