<div class="how-it-works-item-pdp">
  {% if icon != blank %}
    <div class="how-it-works-item-pdp__icon">{{ icon }}</div>
  {% endif %}
  {% if description != blank %}
    <p class="how-it-works-item-pdp__text">{{ description }}</p>
  {% endif %}
</div>
