{{ 'section-faq.css' | asset_url | stylesheet_tag }}
<script src='http:////fw-cdn.com/2164534/2859371.js'
        chat='true'>
</script>

<style>
  .accordion__slide.active .accordion__btn-opener:before {
    display: none;
  }

  .accordion__text{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }

  .accordion__slide.active .accordion__text{
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
  }
</style>

<section class="faq">
  <div class="container">
  {% if section.settings.title != blank %}
    <h2 class="faq__title">{{ section.settings.title }}</h2>
  {% endif %}

  <accordion-component class="faq__list">
    {%- for block in section.blocks -%}
      <div class="faq__list-item accordion__slide">
        {% if block.settings.question != blank %}
          <div class="faq__list-item-header accordion__btn-opener">
            <button class="faq__list-item-button">{{ block.settings.question }}</button>
            <div class="icon-box"></div>
          </div>
        {% endif %}

        {% if block.settings.answer != blank %}
          <div class="faq__list-item-content accordion__text">
            {{ block.settings.answer }}
          </div>
        {% endif %}
      </div>
    {%- endfor -%}
  </accordion-component>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.faq_list.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Frequently Asked Questions",
      "label": "t:sections.faq_list.settings.title.label"
    }
  ],
  "blocks": [
    {
      "type": "block_link",
      "name": "t:sections.faq_list.settings.blocks.name",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "t:sections.faq_list.settings.blocks.question"
        },
        {
          "type": "html",
          "id": "answer",
          "label": "t:sections.faq_list.settings.blocks.answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.faq_list.presets.name"
    }
  ]
}
{% endschema %}
