@import "variables";

.effect-before-and-after {
  padding: 64px 0;

  @media screen and (max-width: $ui-breakpoints-md) {
    padding: 44px 0;
  }
}

.effect-before-and-after__title {
  margin-bottom: 32px;
  text-align: center;

  @media screen and (max-width: $ui-breakpoints-md) {
    margin-bottom: 16px;
  }
}

.effect-before-and-after__card-wrapper {
  .swiper-pagination {
    position: static;
    margin-bottom: 16px;

    .swiper-pagination-bullet-active {
      background-color: $purple-light;
    }
  }
}

.effect-before-and-after__card-list {
  margin-bottom: 32px;

  @media screen and (max-width: $ui-breakpoints-md) {
    margin-bottom: 16px;
  }
}

.effect-before-and-after__button {
  margin: 0 auto;
}

.card-before-and-after {
  .card-before-and-after__photo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;

    margin-bottom: 32px;

    border-radius: 8px;
    overflow: hidden;

    @media screen and (max-width: $ui-breakpoints-md) {
      margin-bottom: 16px;
    }
  }

  .card-before-and-after__photo-item {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .card-before-and-after__label-photo {
    position: absolute;
    bottom: 10px;
    left: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;

    font-family: $poppins;
    font-size: 18px;
    line-height: 1;
    color: $white;

    border-radius: 100px;
    background-color: $purple-light;
  }

  .star-group {
    display: block;
    width: max-content;
    max-width: 100%;
    margin: 0 auto 16px;

    line-height: 0;
  }

  .card-before-and-after__title {
    margin-bottom: 16px;

    font-family: $poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: $blackDark;
    text-align: center;
  }

  .card-before-and-after__text {
    margin-bottom: 16px;

    font-family: $poppins;
    font-size: 16px;
    line-height: 1.5;
    color: $blackDark;
  }

  .card-before-and-after__author {
    display: block;
    max-width: 100%;
    width: max-content;
    margin: 0 auto;

    font-family: $poppins;
    font-size: 18px;
    line-height: 1.4;
    color: $purple-light;
  }
}
