@import "variables";

.faq {
  background-color: $lightGrey;
  padding: 60px 0;
}

.faq__title {
  font-family: $futura;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  color: $black;
  margin-bottom: 30px;
  text-align: center;

  @include max-screen(767) {
    font-size: 30px;
    margin-bottom: 25px;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @include max-screen(767) {
    gap: 25px;
  }

  .faq__list-item {
    max-width: 780px;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid;
    border-bottom-color: #B6BCC6;
    transition: border-bottom-color 0.3s;

    @include max-screen(767) {
      padding-bottom: 20px;
    }

    &.active {
      border-bottom-color: $purple;

      .icon-box:before {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

  }
}


.faq__list-item-header {
  position: relative;
  padding-right: 50px;
  cursor: pointer;

  .icon-box {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $blush-25;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    &:before,
    &:after {
      content: "";
      display: block;
      width: 14px;
      height: 2px;
      background-color: $black;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: transform 0.3s;
    }


    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(0);
    }
  }
}

.faq__list-item-button {
  font-family: $futura;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  color: $black;
  width: 100%;
  text-align: start;
  background: transparent;
  cursor: pointer;
  padding: 0;

  @include max-screen(767) {
    font-size: 27px;
  }
}

.faq__list-item-content {
  font-family: $futura;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  padding-top: 20px;

  @include max-screen(767) {
    font-size: 18px;
    padding-top: 15px;
  }

  p {
    font-family: $futura;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 20px;

    @include max-screen(767) {
      font-size: 18px;
    }
  }

  ul {
    @include style-ul;
  }
}
