@import "_variables.scss";

.indication {
  padding: 50px 0;

  // .indication__title
  &__title {
    margin-bottom: 50px;

    font-family: $futura;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.25;
    text-align: center;
    color: $black;

    @include max-screen(767) {
      font-size: 30px;
    }
  }

  // .indication__content-wrapper
  &__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
  }

  // .indication__content
  &__content {

    img {
      margin-bottom: 20px;

      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;

      @include max-screen(767) {
        width: 100px;
        height: 100px;
      }
    }

    .indication__img-title {
      font-family: $futura;
      font-weight: 500;
      font-size: 22px;
      line-height: 1.25;
      text-align: center;
      color: $black;
    }

  }
}
