@import "_variables.scss";

.differentiators {
  padding: 100px 0;
  background-color: #FBFBFB;

  @include max-screen(991) {
    padding: 60px 0;
  }
}

.differentiators__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.differentiators__content {
  max-width: 100%;
  width: 100%;
  text-align: center;

  .differentiators__title {
    font-family: $futura;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.25;
    color: $black;
    margin-bottom: 10px;

    @include max-screen(767) {
      font-size: 30px;
    }
  }

  .differentiators__text {
    display: inline-block;
    font-family: $futura;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: $black;
  }
}

.differentiators__list {
  max-width: 990px;
  width: auto;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  gap: 50px 130px;

  @include max-screen(1300) {
    gap: 50px 113px;
  }

  @include max-screen(991) {
    max-width: 430px;
    justify-content: space-between;
    gap: 50px;
  }
}

.differentiators__list-item {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @include max-screen(414) {
    width: 100%;
  }

  &:has( > .differentiators__list-item-img ) {
    .differentiators__list-item-img {
      display: none;

      @media screen and (max-width: 1200px) {
        display: flex;
      }
    }

    .differentiators__list-item-icon {
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
  }
}

.differentiators__list-item-icon,
.differentiators__list-item-img {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: #E9B3C3;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    max-width: 46px;
    max-height: 46px;
  }

  img {
    width: 46px;
    height: 46px;
    object-fit: contain;
    object-position: center;
  }
}


.differentiators__list-item-title {
  font-family: $futura;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: $black;
  text-align: center;
}
